body {
  background-color: rgb(9, 42, 80);
}
ul {
  color: rgb(176, 175, 219);
  font-family: verdana;
  font-size: 150%;
}
h1 {
  color: rgba(20, 20, 20, 0.921);
  font-family: verdana;
  font-size: 200%;
}

h2 {
  color: rgb(174, 204, 229);
  font-family: verdana;
  font-size: 150%;
}

form {
  color: rgb(245, 243, 247);
 
  font-family: GlassGauge;
  font-size: 180%;
}

a {
  color: rgb(249, 247, 249);
  font-family: verdana;
  font-size: 100%;

}


